[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug.git
[submodule ".zplugin/bin"]
	path = .zplugin/bin
	url = https://github.com/zdharma/zplugin.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
