# TMUX plugins
.tmux/plugins/

# fish SHELL config (default : ignore all)
.config/fish/*

# fish SHELL config (add important config files)
!.config/fish/custom.d
!.config/fish/function.d
!.config/fish/config.fish
!.config/fish/fish_plugin
